@import "./styles/barlow.css";
@import "./styles/inter.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #464158;
  color: #FFF0DA;
}
