@import "./styles/barlow.css";
@import "./styles/inter.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #464158;
  color: #fff0da;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}
