

.sport-card {
  background-color: #fff0da;
  color: #342E46;
  padding: 2rem;
  border-radius: 2.5rem;
  padding-right: 6rem;
  max-width: 400px;
  flex-grow: 1;

  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h1 {
    font-family: "Barlow", sans-serif;
    font-size: 32px;
    margin: 10px 0;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0078d0;
    text-decoration: none;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
